/* You can add global styles to this file, and also import other style file-storage */

:root {
  --background: #171717;
  --yellow: #FFD600;
  --yellow-dark: #bb9a0c;
  --green: #32A143;
  --red: #7C0000;
  --orange: #FF602E;
  --white: #FFFFFF;
}

body {
  background: var(--background);
  overflow: hidden;
  margin: 0;
}
